@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
}
.content-container {
    max-width: 95%; 
    margin: 0 auto
}

.chart-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

.float-child-left{
    width:18%;
    float:left;    }

.float-child-right{
        width:80%;
        float:right;
    }
h4 {
    font-family: 'Libre Bodoni', serif;
    font-weight: 300;
    font-size:1.2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 900px;
}


h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Libre Bodoni', serif;
    text-align: left;
    margin: auto;
    max-width: 900px;
}

h3{
    font-family:"Roboto Mono",monospace;
    font-size:1.4em;
    font-weight:600;
    line-height:1.2em;
    color:#212121;
}

.legend div span {
	border-radius: 0%;
	display: inline-block;
	height: 10px;
	margin-top: 0px;
	margin-right: 10px;
	width: 10px;
    font-family:"Roboto Mono",monospace;
    font-size:1.1em;
  }

p {
    font-family: 'Libre Bodoni', serif;
    font-weight: 500;
    text-align: left;
    font-size: 2em;
    max-width: 900px;
    margin: 1em auto 1em auto;
    font-size: 18px;
}
p.byline {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0.5em auto 0.8em auto;}

a {background-color: rgb(255,255,0)}

#map {
    height: 600px;
    width:100%;
    position:relative;

}

#map2 {
    width: 90%;
    height: 800px;
    margin: 5em auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/* legend 1 */
.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    overflow: auto;
    border-radius: 3px;
    z-index:1;
  }
  
#features {
top: 0;
height: 80px;
margin-top: 20px;
width: 200px;
}



.legend-key {
display: inline-block;
border-radius: 40%;
width: 15px;
height: 15px;
margin-right: 5px;
}

/* legend 2 */
.map-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    overflow: auto;
    border-radius: 3px;
    z-index:1;
  }
  
#features2 {
top: 0;
height: 80px;
margin-top: 20px;
width: 200px;
}

#legend2 {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 60px;
    margin-bottom: 40px;
    width: 350px;
}

.legend-key2 {
    display: inline-block;
    border-radius: 40%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}